.list-view .list-cell:even {
-fx-background-color: #000000;
-fx-text-fill: white;
-fx-font-family: 'Consolas';
-fx-font-size: 20px;
}
.list-view .list-cell:odd {
-fx-background-color: #000000;
-fx-text-fill: white;
-fx-font-family: 'Consolas';
-fx-font-size: 20px;
}